[submodule "jquery.toggleme"]
	path = jquery.toggleme
	url = https://github.com/Pajamaman/jquery.toggleme
[submodule "DivineGrid"]
	path = DivineGrid
	url = https://github.com/dave-kennedy/DivineGrid
